/* ====================================
   CSS setup ��ne rien modifier
   �diter plus bas
 * ==================================== */

body { margin: 0; padding: 0; border: 0; }
ul { list-style: none; padding: 0; margin: 0; height: 100px; }
li { background-color: lightgrey; text-align: center; }
li:nth-of-type(5n+1) { background-color: #1abc9c; }
li:nth-of-type(5n+2) { background-color: #3498db; }
li:nth-of-type(5n+3) { background-color: #9b59b6; }
li:nth-of-type(5n+4) { background-color: #e67e22; }
li:nth-of-type(5n) { background-color: #e74c3c; }
a { color: white; font-size: 16px; line-height: 50px; text-decoration: none; }

/* ====================================
   �diter � partir d'ici
 * ==================================== */

/* Présenter le menu à l'horizontal. Etendre la surface 
cliquable à toute la surface colorée de chaque entrée. 
Voir résultat attendu dans resultat1.png */

ul {
  display: flex;
  align-items: center;
    
}

li {
  width: 100%;
}

a {
  display: block;
  width: 100%;
}
/* Présenter le menu à la verticale avec un breakpoint à 
600px. Les contenus se présentent à la verticale avec un 
breakpoint à 600px de large comme présenté dans le fichier 
resultat2.png */

@media screen and (max-width:600px) {
  ul {
    display: inline;
    width: 100%;
  }
}

/* Au survol augmentez la hauteur de l'entrée survolée
*/

a:hover {
  line-height: 80px;
   
 }
 