body {
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  border: none;
  display: inline-block;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#container {
    text-align: center;
}

#container div {
	display: inline-block;
	width: 30%;
}
	
footer {
	display: block;
	text-align: center;
	height: 4em;
	width: 100%;
	line-height: 4em;
	background-color: #333;
	color: white;
}



/*Media queries - à vous re refactoriser le code pour que la page soit mobile first */

/* - on affiche les 3 colonnes sur la même ligne
	 - le menu est affiché en ligne.  */

@media screen and (min-width : 480px){

 
}

/*- on affiche qu'une seule colonne par ligne, avec 
    les 3 lignes qui se suivent
  - on affiche les 4 items du menu les uns en dessous
    des autres (un seul pr ligne)  */
	
@media screen and (max-width : 480px){

  li {
    display: inline-block;
    width:50%;
  }

  #container div {
    display: inline-block;
    width: 50%
  }
 
}